<form method="post" action="{{ path('app_filiere_delete', {'id': filiere.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ filiere.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
